* {
  background-color: #222;
  color: #ddd;
  box-sizing: border-box;
}

a {
  background-color: inherit;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 1rem;
}

button {
}

div {
  display: flex;
  flex-direction: column;
}

form {
}
form button {
  width: 8rem;
}
form label {
  min-width: 12rem;
  padding: 0 0.5rem;
  font-weight: bold;
  word-break: break-all;
}
form.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.vertical label {
  text-align: right;
}
form.vertical span {
  padding: 0.5rem 0;
}

input[type=email] {
  width: 100%;
}
input[type=password] {
  width: 100%;
}
input[type=text] {
  width: 100%;
  background-color: #333;
}
input[type=submit] {
  width: 6rem;
}

main {
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
}
nav a {
  padding: 0.5rem;
}
nav a:hover {
  background-color: #333;
}
nav a:active {
  background-color: #333;
}
nav.top {
  justify-content: flex-end;
  align-items: flex-end;
}

p {
  margin: 0;
}

span {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* styling */

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.boxed {
  padding: 0.5rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.2rem;
  overflow: scroll;
}
.gapped {
  gap: 1rem;
}

.padded {
  padding: 1rem;
}

.full {
  width: 100%;
  height: 100%;
}
.full-height {
  height: 100%;
}
.half {
  width: 50%;
  height: 50%;
}
.half-width {
  width: 50%;
}
.quarter-width {
  width: 25%;
}
.half-height {
  height: 50%;
}
.space-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-end {
  justify-content: flex-end;
}
.text-right {
  text-align: right;
}



/* Elements */
#chat-messages {
  max-height: 70vh;
  overflow-x: hidden;
}
#chat-messages p {
  word-break: break-all;
  font-family: "Lucida Console", "Courier New", "Monaco", monospace;
  font-size: 0.8rem;
}
#chat-messages p .name {
  color: inherit;
  font-style: italic;
}

#online-users {
  width: 20rem;
}
