<nav class="vertical full-width space-center">
  <%= link "Public Chat Room", to: Routes.chat_room_path(@conn, :index) %>
  <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
</nav>
